<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h4 class="mt-3 text-center"><b><%= @customer.full_name %>さんの会員情報編集</b></h4>
      </div>
    
    <%= form_with model: @customer, url: customers_update_path, method: :PATCH do |f| %>
      
      <div class="col-xs-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><%= f.label :"氏名" %></td>
              <td><%= f.text_field :last_name %>
                  <%= f.text_field :first_name %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :"フリガナ" %></td>
              <td><%= f.text_field :last_name_kana %>
                  <%= f.text_field :first_name_kana %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :"郵便番号" %></td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td><%= f.label :"住所" %></td>
              <td><%= f.text_field :address, size:"50" %></td>
            </tr>
            <tr>
              <td><%= f.label :"電話番号" %></td>
              <td><%= f.text_field :telephone_number, size:"50" %></td>
            </tr>
            <tr>
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.text_field :email,size:"50" %></td>
            </tr>
          </tbody>
        </table>
        <% if @customer.last_name != "guestuser" %>
          <div class="d-flex justify-content-around">
              <i class="fa-solid fa-book">
                <%= f.submit :"編集を保存",class:"mt-2 btn btn-success"%>
              </i>
              <i class="fa-solid fa-user-xmark">
                <%= link_to "退会する", customers_unsubscribe_path(@customer), class:"mt-2 btn btn-danger" %>
              </i>
          </div>
        <% end %>
    <% end %>
</div>
</div>