<div class="container">
 <div class ="row">
  <div class = "col-10">

<h2>マイページ</h2>
<p class="font-weight-bold h5"> 登録情報 <%= link_to "編集する", customers_edit_path, class:"btn btn-success" %></p>
<table class="table table-bordered">
 <tbody>
  <tr></tr>
   <tr>
    <td class="table-secondary">氏名</td>
    <td><%= @customer.last_name %><%= @customer.first_name %></td>
   </tr>
   <tr>
    <td class="table-secondary">カナ</td>
    <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
   </tr>
   <tr>
    <td class="table-secondary">郵便番号</td>
    <td><%= @customer.postal_code %></td>
   </tr>
   <tr>
    <td class="table-secondary">住所</td>
    <td><%= @customer.address %></td>
   </tr>
   <tr>
    <td class="table-secondary">電話番号</td>
    <td><%= @customer.telephone_number %></td>
   </tr>
   <tr>
    <td class="table-secondary">メールアドレス</td>
    <td><%= @customer.email %></td>
   </tr>
  </tbody>
</table>
  </div>
 </div>
</div>

<%= link_to '過去投稿の口コミ', root_path, class: "btn btn-success" %>
<%= link_to 'フォロー一覧', root_path, class: "btn btn-success" %>
<%= link_to '予約一覧', public_reservations_path, class: "btn btn-success" %>