<h4>症状検索画面</h4>
<%= form_with model: @symptom, method: :get, url: public_symptoms_path do |f| %>
  <table class="table">
    <tbody>
      <th>
       症状一覧
         <%# @personal_symptoms.each do |symptom| %>
          <%#= f.select :personal_symptom, symptom %>
          <%= f.select :symptom_id, Symptom.all, :id, :name, include_blank: "選択して下さい"  %>
         <%# end %>
      </th>
      <th>
         <%= f.submit "検索する", class:"btn btn-success" %>
      </th>
    </tbody>
  </table>
<% end %>

<% if @hospitals %>
<h4>
症状検索結果画面<br>
あなたの症状から最も最適な病院を検索しました。
</h4>
  <table class="table">
    <tbody>
      <th>
        <% @hospitals.each do |hospitals| %>
          <% if hospitals.is_active == true %>
            <div class="col-md-4 shadow p-6 mb-3">
                診療科目：<%= hospitals.subject %><br>
                住所：<%= hospitals.address %><br>
              <%#= link_to "この病院の詳細を確認する", public_hospital_path do %>
                <%= image_tag hospitals.image, size:"100x100"  %>
                <%= hospitals.name %>
              <% end %>
            </div>
          <% end %>
        <%# end %>
      </th>
    </tbody>
  </table>
<% end %>