<h4>検索画面</h4>
<%= form_with model: @symptom, method: :get, url: public_symptoms_path do |f| %>
  <table class="table">
    <tbody>
      <th>
       ジャンル一覧
          <%= f.select :genre_id, Genre.pluck(:name, :id), include_blank: "選択して下さい"  %>
      </th>
      <th>
       エリア一覧(都道府県)
　　　　　<%= f.select :prefecture, Prefecture.pluck(:name, :name), include_blank: "選択して下さい"  %>
      </th>
      <th>
         <%= f.submit "検索する", class:"btn btn-success" %>
      </th>
    </tbody>
  </table>
<% end %>

<% if @hospitals %>
<h4>
症状検索結果画面<br>
あなたの症状から最も最適な病院を検索しました。
</h4>
  <table class="table">
    <tbody>
      <th>
        <% @hospitals.each do |hospital| %>
          <% if hospital.is_active == true %>
            <div class="col-md-4 shadow p-6 mb-3">
                診療科目：<%= hospital.subject %><br>
                住所：<%= hospital.address %><br>
              <%= link_to "この病院の詳細を確認する", public_hospital_path(hospital) %>
                <%= image_tag hospital.image, size:"100x100"  %>
                <%= hospital.name %>
              <% end %>
            </div>
          <% end %>
        <%# end %>
      </th>
    </tbody>
  </table>
<% end %>