<div class="container">
  <div class="row">
      <h4 class="text-center"><b><%= @hospital.name %>医師一覧</b></h4>
  </div>
    <div class="offset-0 col-md-8 offset-md-2">
    <table class="table">
      <thead>
        <tr class="table-secondary text-nowrap">
          <th>医療者ID</th>
          <th>病院ID</th>
          <th>医療提供者名</th>
          <th>病院名</th>
          <th>フォロー機能</th>
        </tr>
      </thead>
      <tbody class= "text-nowrap">
        <% @hospital_doctors.each do |hospital_doctor| %>
          <tr>
            <th><%= hospital_doctor.id %></th>
            <th><%= hospital_doctor.hospital.id %></th>
            <th>
                <%= link_to public_hospital_hospital_doctor_path(@hospital, hospital_doctor.id) do %>
                <%= hospital_doctor.name %>
                <% end %>
            </th>
            <th>
                <!--仮にnilの場合、エラーが出るのでここをどうするか？-->
                <%= link_to public_hospital_path(@hospital.id) do %>
                <%= hospital_doctor.hospital.name %>
                <% end %>
            </th>
            <th>
                <% if current_customer.following?(hospital_doctor) %>
                  <%= link_to "フォロー外す", public_follows_path(doctor_id: hospital_doctor.id), method: :delete %>
                <% else %>
                  <%= link_to "フォローする", public_follows_path(doctor_id: hospital_doctor.id), method: :post %>
                <% end %>    
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class=" mt-3 pagination justify-content-center"></div>
    </div>
  </div>
</div>