<h4>医療提供者申請一覧</h4>
<div class="row-lg-10">
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>申請者ID</th>
        <th>申請者氏名</th>
        <th>病院ID</th>
        <th>所属院</th>
        <th>医療者免許</th>
        <th>申請ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @doctors.each do |doctor| %>
        <%= form_with(model: doctor, url: admin_doctor_path(doctor), method: :patch, local: true) do |f| %>
          <tr>
            <td><%= doctor.id %></td>
            <td>
                <%= doctor.name %>
            </td>
            <td><%= doctor.hospital&.id %></td>
            <td><%= doctor.hospital&.name %></td>
            <td>
              <% if doctor.image.attached? %>
               <%= image_tag doctor.image, size: "100x100" %>
              <% end %>
            </td>
            <td>
              <% if doctor.unapproved? %>
               <%= link_to "承認する", admin_doctor_path(doctor, approved_status: 'approved'), method: :patch,  class:"btn btn-danger", data: { confilm: "本当に承認しますか？" }  %>
               <%= link_to "承認しない", admin_doctor_path(doctor, approved_status: 'denied'), method: :patch, class:"btn btn-secondary", data: { confilm: "本当に承認を拒否しますか？" }  %>
              <% else %>
　　　　　　　 <%= doctor.approved_status_i18n %>
              <% end %>

            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pagination justify-content-center"><%#= paginate @reservations %></div>