<%= flash[:notice] %>
<div class="container">
  <div class="row-lg-10">
    <div class="col-11 offset-md-1">
      <div class="bg-light text-center">
       <%= @doctor.name %>さんの医療者情報詳細
      </div>
    </div>

 <table class="table">
  <div class="row-lg-11">
  <tbody>
   <div class="row-lg-11">
   <tr></tr>
    <tr>
     <th>医療者ID</th>
     <th>
     <%= @doctor.id %>
     </th>
    </tr>
    <tr>
     <th>氏名</th>
     <th>
     <%= @doctor.name %>
     </th>
    </tr>
    <tr>
     <th>メールアドレス</th>
     <th>
     <%= @doctor.email %>
     </th>
    </tr>
    <tr>
     <th>電話番号</th>
     <th>
     <%= @doctor.telephone_number %>
     </th>
    </tr>
    <tr>
     <th>承認ステータス</th>
     <th>
     <% @doctor.approved_status %>
    <% if @doctor.approved_status == 'approved' %><p class= "text-success" >承認</p>
    <% elsif @doctor.approved_status == 'denied' %>承認却下
    <% end %>
     </th>
    </tr>
    </div>
   </tbody>
</table>
     <div class="form-group">
      <%= link_to '編集する', edit_admin_doctor_path, class: "btn btn-success" %>
      <%= link_to '病院詳細に戻る', admin_hospitals_path, class: "btn btn-primary" %>