<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="mt-3 text-center"><b><%= @doctor.name %>さんの<br>医療者情報詳細</b></h4>
    </div>
    <table class="table">
    <tbody>
      <tr>
        <th>医療者ID</th>
        <td><%= @doctor.id %></th>
      </tr>
      <tr>
        <th>氏名</th>
        <th><%= @doctor.name %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @doctor.email %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= @doctor.telephone_number %></th>
      </tr>
      <tr>
        <th>承認ステータス</th>
        <th><% @doctor.approved_status %>
            <% if @doctor.approved_status == 'approved' %><p class= "text-success" >承認</p>
            <% elsif @doctor.approved_status == 'denied' %>承認却下
            <% end %>
        </th>
      </tr>
    </tbody>
    </table>
    <div class="text-center">
      <%= link_to '編集する', edit_admin_doctor_path, class: "btn btn-success" %>
    </div>
  </div>
</div>