<div class="container">
  <div class="row-lg-11">
    <h4 class="bg-light">新規医療提供者登録フォーム<h4><br>
    <h6>※厳正な審査を行うため、申請通過まで１週間ほどお時間がかかる場合がございます。<br>
         予めご了承くださいますようお願いいたします。
    </h6>
      <div class="col-11">
        <%= form_for(resource, as: resource_name, url: doctor_registration_path) do |f| %>
        <%= render "doctor/shared/error_messages", resource: resource %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>名前</td>
                <td><%= f.text_field :name,:placeholder => "大正太郎",size:"20" %> </td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.email_field :email,:placeholder => "sample@example.com",size:"20" %></td>
              </tr>
              <tr>
                <td>電話番号（ハイフンなし）</td>
                <td><%= f.text_field :telephone_number,:placeholder => "00055552222",size:"20" %></td>
              </tr>
              <tr>
                <td>医療者免許</td>
                <td>(表)<%#= f.file_field :image, accept:"image/*", :placeholder => "医療免許の表を添付してください。", size:"20" %>
                        <%#= f.file_field :image, accept:"image/*", :placeholder => "医療免許の裏を添付してください。", size:"20" %>
                 <div class="form-group illust_image_group card text-center m-1 shadow lisence-card">
                <%= f.file_field :image, accept: "image/jpg, image/jpeg, image/png", class:"img_field_input", style: 'display:none;', id: "img_field-0" %>
                 <% if f.object.image.attached? %>
                  <%= image_tag f.object.image, fallback: 'no_pictureimage.png', class: "center-block img-thumbnail lisence-photo img-responsive img_prev mx-auto d-block", id: "img_prev-0" %>
                 <% else %>
                  <%= image_tag 'no_pictureimage.png', class: "center-block img-thumbnail lisence-photo img-responsive img_prev mx-auto d-block", id: "img_prev-0" %>
                 <% end %>
                 </div>
                </td>
                

              </tr>
              <tr>
                <td>パスワード(<%= @minimum_password_length %>文字以上)</td>
                <td><%= f.password_field :password, autocomplete: "new-password",size:"20" %></td>
              </tr>
              <tr>
                <td>パスワード(確認用)</td>
                <td><%= f.password_field :password_confirmation,size:"20" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "新規登録申請", class:"btn btn-success center-block" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row-lg-11">
    <h4>既に申請完了済みの方</h4>
      <%= render "doctor/shared/links" %>からログインしてください。
  </div>
</div>

<!--それぞれの画像に別々にidを振り、個別に処理する-->
<script>
 function changeURL(input) {
  const targetId = $(input).attr('id').replace("img_field-", "")
  if (input.files && input.files[0]) {
   var reader = new FileReader();
   reader.onload = function (e) {
    $(`#img_prev-${targetId}`).attr('src', e.target.result);
   }
   reader.readAsDataURL(input.files[0]);
  }
 }
 
 var imgCount = $('.img_field_input').length
 for (let i = 0; i < 1; i++) {
  $(document).on('change', `#img_field-${i}`, function() {
   changeURL(this);
  });
 }

 $('.illust_image_group').on('click', (e) => {
  const $target = $(e.target)
  const formGroup = $target.parent()
  const targetId = $target.attr('id').replace("img_prev-", "")
  const eventTarget = $(`#img_field-${targetId}`)
  eventTarget.click()
 })
</script>