
 <h4 class="bg-light">管理者予約履歴詳細確認画面</h4>
  <div class="row">
<div class="container">
    <div class="col-11 offset-md-1">
      <div class="text-center">
       <td><%= "#{@reservation.customer.last_name} #{@reservation.customer.first_name}" %>さんの予約詳細</div>
      </div>

  <div class="row-lg-10">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-secondary">
          <th>予約日</th>
          <th>予約時間</th>
          <th>予約院</th>
          <th>予約ステータス</th>
        </tr>
      </thead>
      <tbody>
          <th><%= @reservation.hope_day %></th>
          <th><%= @reservation.hope_time %></th>
          <th><%= @reservation.hospital.name %></th>
            <td>
                <% if @reservation.status == 'reservation_pending' %>
                <p class="text-primary font-weight-bold">申請中</p>
                <% elsif @reservation.status == 'reservation_confirmed' %>
                <p class="text-success font-weight-bold">予約確定</p>
                <% elsif @reservation.status == 'tentative_reservation' %>
                <p class="text-warning font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-danger font-weight-bold">受付キャンセル</p>
                <% end %>
            </td>
      </tbody>
    </table>
  </div>
</div>
</div>

     <div class="text-center">
      <%= link_to '会員予約一覧に戻る', admin_reservations_path, class: "btn btn-primary" %>
     </div>