<h2>予約履歴詳細画面</h2>
<div class="container">
  <div class="row-lg-10">
    <div class="col-11 offset-md-1">
      <div class="bg-light text-center">
       <%= @reservation.customer.full_name %>さんの予約詳細
      </div>
    </div>

  <div class="row-lg-10">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th>予約日</th>
          <th>予約時間</th>
          <th>予約院</th>
          <th>予約ステータス</th>
        </tr>
      </thead>
      <tbody>
          <th><%= @reservation.hope_day %></th>
          <th><%= @reservation.hope_time %></th>
          <th><%= @reservation.hospital.name %></th>
            <td>
                <% if @reservation.status == 'reservation_pending' %>
                <p class="text-success font-weight-bold">申請中</p>
                <% elsif @reservation.status == 'reservation_confirmed' %>
                <p class="text-success font-weight-bold">予約確定</p>
                <% elsif @reservation.status == 'tentative_reservation' %>
                <p class="text-secondary font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-secondary font-weight-bold">受付キャンセル</p>
                <% end %>
            </td>
          </th>
        <tr></tr>
      </tbody>
    </table>
  </div>

     <div class="form-group">
      <%= link_to '会員予約一覧に戻る', admin_reservations_path, class: "btn btn-success" %>