<h2>予約履歴詳細画面</h2>
<div class="container">
  <div class="row-lg-10">
    <div class="col-11 offset-md-1">
      <div class="bg-light text-center">
       <%= @admin_customer.last_name + @admin_customer.first_name %>さんの予約詳細
      </div>
    </div>

  <div class="row-lg-10">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th>予約日</th>
          <th>予約時間</th>
          <th>予約院</th>
          <th>予約ステータス</th>
        </tr>
      </thead>
      <tbody>
          <th><%= @reservation.hope_day %></th>
          <th><%= @reservation.hope_time %></th>
          <th><%= @hospital.name %></th>
          <th><% if @reservation.status == true %></th>
                <p class="text-success font-weight-bold">予約完了</p>
                <% elsif %>
                <p class="text-secondary font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-secondary font-weight-bold">仮予約キャンセル</p>
                <% end %>
          </tr>
        <% end %>
        <% end %>
        <% end %>
            </th>
          </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>

     <div class="form-group">
      <%= link_to '会員予約一覧に戻る', admin_reservations_path, class: "btn btn-success" %>