<div class="container">
  <div class="col-md-2">
    <%#= render 'search', searches: @searches %>
  </div>
</div>
      <h4>レビュー一覧管理画面</h4>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="table-secondary">
              <th>投稿者名</th>
              <th>病院・クリニック名</th>
              <th>レビュー投稿日</th>
              <th>診療の満足度</th>
              <th>院内の清潔さ</th>
              <th>スタッフの対応満足度</th>
              <th>待ち時間(分)</th>
              <th>コメント</th>
              <th>総合満足度</th>
              <th>レビュー削除</th>
              <th>レビュー詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= "#{review.customer.last_name} #{review.customer.first_name}" %></td>
                <td><% if review.hospital != nil %><%= review.hospital.name %><% end %></td>
                <td><%= review.created_at %></td>
                <td><%= review.doctor_satisfaction %></td>
                <td><%= review.room_clean %></td>
                <td><%= review.staff_satisfaction %></td>
                <td><%= review.waiting_time %></td>
                <td><%= review.comment %></td>
                <td><%= review.total_point %></td>
                <td><%= link_to '　削除　', admin_review_path(review.id), method: :delete, data: { confirm: "コメントを削除しても宜しいですか？" }, class: "btn btn-danger" %></td>
                <td><%= link_to '　詳細　', admin_review_path(review.id), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>