<div class="row-lg-10">
  <h4 class="bg-light text-center">管理者レビュー詳細確認画面</h4>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>投稿者名</th>
        <th>病院・クリニック名</th>
        <th>レビュー投稿日</th>
        <th>診療の満足度</th>
        <th>院内の清潔さ</th>
        <th>スタッフの対応満足度</th>
        <th>待ち時間</th>
        <th>コメント</th>
        <th>総合満足度</th>
      </tr>
    </thead>
    <tbody>
        <td><%= "#{@review.customer.last_name} #{@review.customer.first_name}" %></td>
        <td><%= @review.hospital.name %></td>
        <td><%= @review.created_at.strftime("%Y年 %m月 %d日 %H:%M") %></td>
        <td><%= @review.doctor_satisfaction %>/5点</td>
        <td><%= @review.room_clean %>/5点</td>
        <td><%= @review.staff_satisfaction %>/5点</td>
        <td><%= @review.waiting_time %>分</td>
        <td><%= @review.comment %></td>
      　<p><%= @review.favorites.count %>いいね</p>  
        <td><%= @review.total_point %>/5点</td>
    </tbody>
    </table>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-secondary">
          [コメント欄]
          <th>投稿者名</th>
          <th>コメント</th>
          <th>投稿日時</th>
          <th>医療者コメント</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <td><%= "#{@review.customer.last_name} #{@review.customer.first_name}" %></td>
        <td><%= @review.comment %></td>
        <td><%= @review.created_at.strftime("%Y年 %m月 %d日 %H:%M") %></td>
        <td><%#= @reply.comment if @reply %></td>
        <td><%#= @reply.created_at if @reply %></td>
      </tbody> 
    </table>
  </div>
</div>