
<div class="container">
  <div class="row-lg-11">
    <div class="col-3">
      <h4 class="bg-light text-center">病院詳細</h4>
    </div>
    </div>
    <div class="row-lg-10">
     <table class="table table-bordered table-hover">
       <tbody>
          <tr>
            <td>病院画像</td>
            <td><%= image_tag @hospital.image , class:"img-fluid d-block mx-auto", size:"200x200" %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @hospital.postal_code %></td>
          </tr>
          <tr>
            <td>病院名</td>
            <td><%= @hospital.name %></td>
          </tr>
          <tr>
            <td>病院名（カナ）</td>
            <td><%= @hospital.hospital_name_kana %></td>
          </tr>
          <tr>
            <td>病院説明</td>
            <td><%= @hospital.introduction %></td>
          </tr>
          <tr>
            <td>医師名</td>
            <td>
                <% @hospital.doctors.each do |doctor| %>
                <%= link_to doctor.name, admin_doctor_path %>
                <% end %>
            </td>
          <tr>
            <td>電話番号</td>
            <td><%= @hospital.telephone_number %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @hospital.genre.name %></td>
          </tr>
          <tr>
            <td>診療科目</td>
            <td><%= @hospital.subject %> </td>
          </tr>
          <tr>
            <td>診療時間</td>
            <td><%= @hospital.hospital_time %> </td>
          </tr>
          <tr>
            <td>駐車場</td>
            <td><%= @hospital.parking %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @hospital.is_active == true %>
                対応中
              <% else %>
                対応停止中
              <% end %>
            </td>
          </tr>
          <!--Googleマップの記載 89行目までと101行目から-->
        <tr>
          <td>Googleマップ</td>
          <td>
            <input id="address" type="textbox" value="GeekSalon">
            <input type="button" value="Encode" onclick="codeAddress()">
              <div id="display">表示までしばらくお待ちください。</div>
              <div id='map'></div>
          </td>
        </tr>

  </tbody>
</table>

      </div>
    </div>

<div class="col text-center">
  <%= link_to "　　編集する　　", edit_admin_hospital_path(params[:id]),class:"btn btn-success center-block" %>
</div>


<!--Googleマップの記載-->
<style>
#map {
  height: 200px;
  width: 200px;
}
</style>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    //latが緯度、lngが経度
    center: test
    //数値は0〜21まで指定できます。数値が大きいほど拡大
    zoom: 12,
  });
   //positionに指定した座標にピンを表示
  marker = new google.maps.Marker({
    position:  test,
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GoogleMap_KEY']%>&callback=initMap" async defer></script>