<div class="container">
 <div class ="row">
  <div class = "col-10">

<h2>マイページ</h2>
<p class="font-weight-bold h5"> 登録情報 <%= link_to "編集する", doctor_hospital_doctor_path, class:"btn btn-success" %></p>
<table class="table table-bordered">
 <tbody>
  <tr></tr>
   <tr>
    <td class="table-secondary">氏名</td>
    <td><%= @doctor.name %></td>
   </tr>
   <tr>
    <td class="table-secondary">メールアドレス</td>
    <td><%= @doctor.email %></td>
   </tr>
  </tbody>
</table>
  </div>
 </div>
</div>

<%= link_to 'レビュー一覧', root_path, class: "btn btn-success" %>
<%= link_to 'フォロワー一覧', root_path, class: "btn btn-success" %>
<%#= link_to '予約一覧', public_reservations_path, class: "btn btn-success" %>