
    予約を絞り込みますか？
    <div class="accshow">
     2ヶ月以上先の予約のみを選択<br>
     <%= link_to "2ヶ月先の予約", public_reservations_path(name: "two_month"), class: "btn btn-primary" %>
     <%= link_to "4ヶ月先の予約", public_reservations_path(name: "four_month"), class: "btn btn-primary" %>
    </div>

     
<h4>予約一覧画面</h4>
<div class="row-lg-10">
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th>来院日</th>
      <th>来院時間</th>
      <th>予約院</th>
      <th>予約ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <th><%= link_to reservation.hope_day, public_reservation_path(reservation.id) %></th>
        <td><%= reservation.hope_time %></td>
        <td><%= reservation.hospital.name %></td>
                <td>
                <% if reservation.status == 'reservation_pending' %>
                <p class="text-success font-weight-bold">申請中</p>
                <% elsif reservation.status == 'reservation_confirmed' %>
                <p class="text-success font-weight-bold">予約確定</p>
                <% elsif reservation.status == 'tentative_reservation' %>
                <p class="text-secondary font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-secondary font-weight-bold">受付キャンセル</p>
                <% end %>
            </td>
      </tr>
    <% end %>
   </tbody>
  </table>
</div>
<%= link_to 'ネットde診療予約に進む', new_public_reservation_path, class: "btn btn-success" %>