
<h2>予約一覧画面</h2>
<div class="row-lg-10">
<table class="table">
  
  <%= form_with model: @reservation, url: public_reservations_path do |f| %>
  <div class="accbox">
    <label for="label1">予約を絞り込む</label>
    <div class="accshow">
     2ヶ月以上先の予約のみを選択<br>
     <%= f.text_field :hope_day %>
     <%= f.check_box "絞り込む", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
  
  <thead>
    <tr class="table-secondary">
      <th>来院日</th>
      <th>来院時間</th>
      <th>予約院</th>
      <th>予約ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <th><%= link_to reservation.hope_day, public_reservation_path(reservation.id) %></th>
        <td><%= reservation.hope_time %></td>
        <td><%= reservation.hospital.name %></td>
             <td><% if reservation.status == 'reservation_confirmed' %>
                <p class="text-success font-weight-bold">予約確定</p>
                <% elsif reservation.status == 'tentative_reservation' %>
                <p class="text-secondary font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-secondary font-weight-bold">受付キャンセル</p>
                <% end %>
            </td>
      </tr>
    <% end %>
   </tbody>
  </table>
</div>
<%= link_to 'ネットde診療予約に進む', new_public_reservation_path, class: "btn btn-success" %>