
    予約を絞り込みますか？
    <div class="accshow">
     <%= link_to "2ヶ月先の予約", public_reservations_path(name: "two_month"), class: "btn btn-outline-primary" %>
     <%= link_to "4ヶ月先の予約", public_reservations_path(name: "four_month"), class: "btn btn-outline-primary" %>
     <%= link_to "予約一覧の再表示", public_reservations_path, class: "btn btn-warning" %>
    </div>

     
<h4>予約一覧画面</h4>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-secondary">
      <th>来院日</th>
      <th>来院時間</th>
      <th>予約院</th>
      <th>予約ステータス</th>
      <th>予約削除</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <th><%= link_to reservation.hope_day, public_reservation_path(reservation.id) %></th>
        <th><%= reservation.hope_time %></th>
        <th><%= reservation.hospital.name %></th>
        <td>
                <% if reservation.status == 'reservation_pending' %>
                <p class="text-primary font-weight-bold">申請中</p>
                <% elsif reservation.status == 'reservation_confirmed' %>
                <p class="text-success font-weight-bold">予約確定</p>
                <% elsif reservation.status == 'tentative_reservation' %>
                <p class="text-secondary font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-danger font-weight-bold">受付キャンセル</p>
                <% end %>
        </td>
        <td><%= link_to '削除する', public_reservation_path(reservation), method: :delete, data: { confirm: "予約を削除しても宜しいですか？" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
</div>
<%= link_to 'ネットde診療予約に進む', new_public_reservation_path, class: "btn btn-success" %>