<h2>ネットde診療予約</h2>
<%= form_with model: @reservation, url: public_reservations_path, method: :post do |f| %>
 <table class="table">
  <div class="row-lg-11">
  <tbody>
   <div class="row-lg-11">
      <th>
       予約希望日
       <%= f.date_field :hope_day %>
      </th>
      <th>
       予約希望時間
       <%= f.time_select :hope_time %>
      </th>
      <th>
       予約希望院
       <%= @hospital.name %>
       <!-- nameからidとして引き渡す。-->
       <%= f.select :hospital_id, Hospital.pluck(:name,:id),{:prompt => "希望院選択"}, :required => true %>
      </th>
      <th>
      <%= f.submit "予約する", class:"btn btn-success" %>
      </th>
      </table>
      <% end %>
  </div>
 </div>