  <%= form_with model: @review, url: public_hospital_review_path(@review.hospital_id, @review), local:true do |f| %>

    <div class="text-center" >
        <h4><%= @review.hospital.name %><br>
        レビュー入力画面</h4>
        <div class="star-form-group" id="post_doctor_satisfaction">
        <%= f.label :doctor_satisfaction,'診療の満足度', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_doctor_satisfaction');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[doctor_satisfaction]',
        score: "<%= @review.doctor_satisfaction %>",
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
        
        <div class="star-form-group" id="post_room_clean">
        <%= f.label :room_clean, '院内の清潔さ', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_room_clean');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[room_clean]',
        score: "<%= @review.room_clean %>",
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
        <div class="star-form-group" id="post_staff_satisfaction">
        <%= f.label :staff_satisfaction, 'スタッフの対応満足度', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_staff_satisfaction');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[staff_satisfaction]',
        score: "<%= @review.staff_satisfaction %>",
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
       
        <div class="star-form-group" id="post_total_point">
        <%= f.label :total_point, '総合満足度', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_total_point');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[total_point]',
        score: "<%= @review.total_point %>",
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
        <br>
        <div class="mt-2">
         待ち時間(10分単位)
        <%= @review.waiting_time %>分
        </div>
        <div>
        <%= f.select :waiting_time, [10,20,30,40,50,60] %>分
        </div>
        <div class="mt-2">
        コメント
        <%= @review.comment %>
        </div>
        <div>
        <%= f.text_field :comment %>
        </div>



    <div class="row mt-4">
      <div class="form-inline mx-auto">
        <% if @review.is_draft == true %>
          <%= f.submit "レビューを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
          <%= f.submit "更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
        <% else %>
          <%= f.submit "レビューを更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
        <% end %>
      </div>
    </div>
    <div class="mt-4 pb-3 text-center">
      <u><%= link_to "削除", public_hospital_review_path(@review.hospital_id, @review), method: :delete, data: {confirm: "削除しますか？"}, class:'btn btn-danger' %></u>
    </div>
  <% end %>