<% if @hospital.reviews.exists? %>
<div class="container">
  <div class="row">
    <h4 class="mt-2 text-center"><b><%= @hospital.name %>のレビュー</b></h4>
      <table class="mt-4 table table-hover shadow">
        <tbody>
          <tr>
            <% @hospital.reviews.each do |review| %>
              <div class="col-md-4 shadow">
                <div class= "text-left">
                  <% unless review.is_draft? %>
                  <span class="text-success">投稿済</span>
                </div>
                <div class= "text-left">
                病院画像
                  <% if review.hospital != nil %>
                    <%= image_tag review.hospital.get_image(100,100) %>
                  <% end %>
               </div>
               <div class= "text-left">
               病院名
                 <% if review.hospital != nil %>
                   <%= review.hospital.name %>
                 <% end %>
               </div>
               <div class= "text-left">
               投稿日
                 <%= review.created_at.strftime("%Y年 %m月 %d日") %>
               </div>
               <div class= "text-left">
               診療の満足度
                 <div class="star-group">
                 <div class="eval-star"><%= review.doctor_satisfaction %>/5点</div>
                 </div>
               </div>
              <div class= "text-left">
              院内の清潔さ
                <div class="star-group">
                <div class="eval-star"><%= review.room_clean %>/5点</div>
                </div>
              </div>
              <div class= "text-left">
              スタッフの対応満足度
                <div class="star-group">
                <div class="eval-star"><%= review.staff_satisfaction %>/5点</div>
                </div>
              </div>
              <div class= "text-left">
              総合満足度
                <div class="star-group">
                <div class="eval-star"><%= review.total_point %>/5点</div>
                </div>
              </div>
              <div class= "text-left">
              待ち時間
                <%= review.waiting_time %>分
              </div>
              <div class= "text-left">コメント</div>
                <div class= "bg-light text-left"><%= review.comment %></div>
                <div>
                  <%= link_to '詳細', public_review_path(review.id), class: "btn btn-success" %>
                </div>
              </div>
                  <% end %>
            <% end %>
          </thead>
        </table>
      <%= paginate @reviews %>
    </div>
  </div>
<% else %>
  <h5 class= "mt-5 text-center">
    <b>まだレビュー投稿がありません<br>
    レビューを投稿してみましょう！</b>
  </h5>
  <div class="mt-3 text-center">
    <%= link_to 'レビュー入力へ進む', new_public_hospital_review_path(@hospital.id), class: "btn btn-success" %>
  </div>
<% end %>