<div class="container">
 <div class="row">
  <div class="col-md-2">
     <!--ジャンル検索-->
     <%= render 'search', searches: @searches %>
  </div>

 <div class="row-lg-10">
<h4>レビュー投稿一覧画面<br>
    ※得点は5段階評価となっております。
</h4>
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th>下書き</th>
      <th>投稿者名</th>
      <th>病院・クリニック名</th>
      <th>レビュー投稿日</th>
      <th>診療の満足度</th>
      <th>院内の清潔さ</th>
      <th>スタッフの対応満足度</th>
      <th>待ち時間(分)</th>
      <th>コメント</th>
      <th>総合満足度</th>
      <th>レビュー詳細</th>
      <th>レビュー編集</th>
      <th>レビュー削除</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
        <td>
         <% if review.is_draft %>
          <span class="text-danger">下書き</span>
         <% else %>
          <span class="text-success">投稿済</span>
         <% end %>
        </td>
        <td><%= review.customer.last_name %>さん</td>
        <td><% if review.hospital != nil %><%= review.hospital.name %><% end %></td>
        <td><%= review.created_at.strftime("%Y年 %m月 %d日") %></td>
        
        <td>
        <div class="star-group">
        <div class="detail-value", id="star-comf-<%= review.id %>"></div> 
        <div class="eval-star"><%= review.doctor_satisfaction %>/5点</div>
        </div>
        </td>
        <script>
         $('#star-comf-<%= review.id %>').raty({      //.idでどの評価であるかを取得
          size: 38,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: false,
          readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
          score: <%= review.doctor_satisfaction %>,              //scoreオプションで評価内容を取得
          });
        </script>
        
        <td>
        <div class="star-group">
        <div class="detail-value", id="star-comf-<%= review.id %>"></div> 
        <div class="eval-star"><%= review.room_clean %>/5点</div>
        </div>
        </td>
         <script>
         $('#star-comf-<%= review.id %>').raty({      //.idでどの評価であるかを取得
          size: 38,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: false,
          readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
          score: <%= review.room_clean %>,              //scoreオプションで評価内容を取得
          });
        </script>
        
        <td>
        <div class="star-group">
        <div class="detail-value", id="star-comf-<%= review.id %>"></div> 
        <div class="eval-star"><%= review.staff_satisfaction %>/5点</div>
        </div>
        </td>
        <script>
         $('#star-comf-<%= review.id %>').raty({      //.idでどの評価であるかを取得
          size: 38,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: false,
          readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
          score: <%= review.staff_satisfaction %>,              //scoreオプションで評価内容を取得
          });
        </script>
        
        <td><%= review.waiting_time %></td>
        <td><%= review.comment %></td>
        
        <td>
        <div class="star-group">
        <div class="detail-value", id="star-comf-<%= review.id %>"></div> 
        <div class="eval-star"><%= review.total_point %>/5点</div>
        </div>
        </td>
        <script>
         $('#star-comf-<%= review.id %>').raty({      //.idでどの評価であるかを取得
          size: 38,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: false,
          readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
          score: <%= review.total_point %>,              //scoreオプションで評価内容を取得
          });
        </script>

        <td><%= link_to '詳細', public_review_path(review.id), class: "btn btn-success" %></td>
        <td><%= link_to '編集', edit_public_hospital_review_path(review.hospital_id, review), class: "btn btn-primary" %></td>
        <td><%= link_to '削除', public_hospital_review_path(review.hospital_id, review), method: :delete, data: {confirm: "この下書きを削除しますか？"}, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
</div>