<h2>レビュー投稿一覧画面</h2>
<div class="row-lg-10">
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th>病院・クリニック名</th>
      <th>レビュー投稿日</th>
      <th>診療の満足度</th>
      <th>院内の清潔さ</th>
      <th>スタッフの対応満足度</th>
      <th>待ち時間</th>
      <th>コメント</th>
      <th>総合満足度</th>
      <th>レビューを書く</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.hospital.name %></td>
        <td><%= review.created_at %></td>
        <td><%= link_to review.doctor_satisfaction, public_review_path(review.id) %></td>
        <td><%= review.room_clean %></td>
        <td><%= review.staff_satisfaction %></td>
        <td><%= review.waiting_time %></td>
        <td><%= review.comment %></td>
        <td><%= review.total_point %></td>
        <td><%= link_to '作成', new_public_hospital_review_path(review.hospital.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
</div>