
<h2>レビュー情報入力画面</h2>
<%= form_with model: @review, url: public_reviews_path do |f| %>
  <%= f.hidden_field :hospital_id %>
  <table class="table">
    <tbody>
      <tr></tr>
      <th>
       診療の満足度
        <%= @review.doctor_satisfaction %>
        <%= f.select :doctor_satisfaction, (1..5) %>
      </th>
      <th>
       院内の清潔さ
         <%= @review.room_clean %>
         <%= f.select :room_clean, (1..5) %>
      </th>
      <th>
        スタッフの対応満足度
         <%= @review.staff_satisfaction %>
         <%= f.select :staff_satisfaction, (1..5) %>
         <!-- nameからidとして引き渡す。-->
         <%#= f.select :hospital_id, Hospital.pluck(:name,:id),{:prompt => "希望院選択"}, :required => true %>
      </th>
      <th>
        待ち時間(10分単位)
         <%= @review.waiting_time %>
         <%= f.select :waiting_time, [10,20,30,40,50,60] %>分
      </th>
      <th>
        コメント
         <%= @review.comment %>
         <%= f.text_field :comment %>
      </th>
      <th>
        総合満足度
         <%= @review.total_point %>
         <%= f.select :total_point, (1..5) %>
      </th>
      <th>
         <%= f.submit "投稿する", class:"btn btn-success" %>
      </th>
    </tbody>
  </table>
<% end %>