
<%= form_with model: @review, url: public_reviews_path do |f| %>
  <%= f.hidden_field :hospital_id %>
    <div class="text-center" >
        <h4><%= @hospital.name %><br>
        レビュー入力画面</h4>
        <div class="star-form-group" id="post_doctor_satisfaction">
        <%= f.label :doctor_satisfaction,'診療の満足度', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_doctor_satisfaction');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[doctor_satisfaction]',
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
        
        <div class="star-form-group" id="post_room_clean">
        <%= f.label :room_clean, '院内の清潔さ', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_room_clean');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[room_clean]',
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
        <div class="star-form-group" id="post_staff_satisfaction">
        <%= f.label :staff_satisfaction, 'スタッフの対応満足度', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_staff_satisfaction');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[staff_satisfaction]',
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
       
        <div class="star-form-group" id="post_total_point">
        <%= f.label :total_point, '総合満足度', class:'star-title' %>
        <script>
        var elem = document.getElementById('post_total_point');
        var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[total_point]',
        half: false,
        };
        raty(elem,opt);
        </script>
        </div>
        <br>
        <div class="mt-2">
         待ち時間(10分単位)
        <%= @review.waiting_time %>
        <%= f.select :waiting_time, [10,20,30,40,50,60] %>分
        </div>
        <br>
        <div class="mt-2">
        コメント
        <%= @review.comment %>
        <%= f.text_field :comment %>
        </div>
        <br>
        <div class="mt-2">
        <%= f.submit "投稿する", class:"btn btn-success" %>
        </div>
    </div>
<% end %>





