<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-6">
      <h3 class="mt-3 text-center"><b><%= @customer.full_name %>さんの投稿詳細</b></h3>
        <h5 class="mt-3 text-center" id="favorite_buttons_<%= @review.id %>">
          <%= render "public/favorites/favorites", review: @review %>
        </h5>
    </div>
    <div class="col-xs-6">
      <table class="mt-4 table table-hover text-nowrap table table-bordered border-secondary">
        <tbody>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">病院名</td>
            <th class="nowrap"><%= @review.hospital.name %></th>
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">投稿日</td>
            <th class="nowrap"><%= @review.created_at.strftime("%Y年 %m月 %d日") %></th>
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">診療の満足度</td>
            <th><%= @review.doctor_satisfaction %>/5点</th>
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">院内の清潔さ</td>
            <th><%= @review.room_clean %>/5点</th>            
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">スタッフの対応満足度</td>
            <th><%= @review.staff_satisfaction %>/5点</th>
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">待ち時間（分）</td>
            <th><%= @review.waiting_time %>分</th>           
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">総合満足度</td>
            <th><%= @review.total_point %>/5点</th>            
          </tr>
          <tr class="d-grid col-md-6 mx-auto">
            <td class="nowrap">コメント</td>
            <th><%= @review.comment %></th>            
          </tr>
        </tbody>
      </table>
    </div>
    <% if @customer == current_customer %>
    <div class="col-xs-6">
      <h4><b>コメント欄</b></h4>
      <div id="comment">
        <%= render "public/replies/replies", review: @review %>
      </div>
      <div id="comments-area"><%= render "public/review_comments/comment", review: @review, reply: @reply %>
      <div class="d-grid col-4 mx-auto text-nowrap">
        <%= link_to 'レビュー一覧', public_reviews_path, class: "mt-3 btn btn-primary ml-5 text-center" %>
      </div>
    </div>
    <% end %>
  </div>
</div>