
  <div class="row-lg-10">
    <table class="table">
 <h4 class="bg-light text-center">レビュー投稿履歴詳細</h4>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>投稿者名</th>
        <th>病院・クリニック名</th>
        <th>レビュー投稿日</th>
        <th>診療の満足度</th>
        <th>院内の清潔さ</th>
        <th>スタッフの対応満足度</th>
        <th>待ち時間</th>
        <th>コメント</th>
        <th>総合満足度</th>
      </tr>
    </thead>

    <tbody>
        <td><%= @review.hospital.name %></td>
        <td><%= @review.hospital.name %></td>
        <td><%= @review.created_at %></td>
        <td><%= @review.doctor_satisfaction %>/5点</td>
        <td><%= @review.room_clean %>/5点</td>
        <td><%= @review.staff_satisfaction %>/5点</td>
        <td><%= @review.waiting_time %>分</td>
        <td><%= @review.comment %></td>
            <% if @review.favorited_by?(current_customer) %>
        <p>
            <%= link_to public_review_favorites_path(@review.id), method: :delete do %>
            ♥<%= @review.favorites.count %> いいね
            <% end %>
        </p>
            <% else %>
        <p>
            <%= link_to public_review_favorites_path(@review.id), method: :post do %>
            ♡<%= @review.favorites.count %> いいね
            <% end %>
        </p>
            <% end %>
        <td><%= @review.total_point %>/5点</td>
    </tbody>
  </table>
        <table class="table">
          <td>[コメント欄]</td>
          <td><%= @review.comment %></td>
          <td><%= @review.created_at %></td>
          <td><%= @reply.comment if @reply %></td>
          <td><%= @reply.created_at if @reply %><td>
        </table>
</div>