
  <div class="row-lg-10">
    <table class="table">
 <h4 class="bg-light text-center">レビュー投稿履歴詳細</h4>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>投稿者名</th>
        <th>病院・クリニック名</th>
        <th>レビュー投稿日</th>
        <th>診療の満足度</th>
        <th>院内の清潔さ</th>
        <th>スタッフの対応満足度</th>
        <th>待ち時間</th>
        <th>コメント</th>
        <th>総合満足度</th>
      </tr>
    </thead>

    <tbody>
        <td><%= @review.customer.full_name %></td>
        <td><%= @review.hospital.name %></td>
        <td><%= @review.created_at.strftime("%Y年 %m月 %d日") %></td>
        <td><%= @review.doctor_satisfaction %>/5点</td>
        <td><%= @review.room_clean %>/5点</td>
        <td><%= @review.staff_satisfaction %>/5点</td>
        <td><%= @review.waiting_time %>分</td>
        <td><%= @review.comment %></td>
            <% if @review.favorited_by?(current_customer) %>
        <p>
            <%= link_to public_review_favorites_path(@review.id), method: :delete, remote: true do %>
            ♥<%= @review.favorites.count %> いいね
            <% end %>
        </p>
            <% else %>
        <p>
            <%= link_to public_review_favorites_path(@review.id), method: :post, remote: true do %>
            ♡<%= @review.favorites.count %> いいね
            <% end %>
        </p>
            <% end %>
        <td><%= @review.total_point %>/5点</td>
        </div>
    </tbody>
  </table>
  
  <h4>[コメント欄]</h4>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>投稿者名</th>
        <th>コメント</th>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <% @replies.each do |reply| %>
        <tr>
          <% if reply.doctor_id.present? %>
            <td>D<%= reply.doctor.name %></td>
          <% elsif reply.customer_id.present? %>
            <td>C<%= reply.customer.full_name %></td>
          <% end %>
          <td><%= reply.comment %></td>
          <td><%= @review.created_at.strftime("%Y年 %m月 %d日") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>      
       
  <div class="row">
    <div class="col-sm-4">
     <%= form_with model: @reply, url: public_review_replies_path(@review), local: true do |f| %>
      <%= f.hidden_field :review_id %>
      <%= f.text_area :comment, rows: 5, class: "form-control" %>
      <%= f.submit "返信する", class:"btn btn-success" %>
    <% end %>     
    </div>
  </div>

        
  <%= link_to 'レビュー投稿一覧に戻る', public_reviews_path, class: "btn btn-primary" %>
