<div class="container">
  <div class="row">
      <h4 class="text-center"><b>レビュー検索結果</b></h4>
  </div>
  <div class="offset-0 col-md-8 offset-md-2">
    <table class="table table-hover table-inverse">
      <th>コメント内容</th>
      <th>作成日時</th>
      <th>詳細ページ</th>
      <% if @range == "Customer" %>
      <thead>
      <% @customers.each do |customer| %>
        <td><%= "#{customer.last_name} #{customer.first_name}" %></td>
      <% end %>
      </thead>
      <% else %>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.comment %></td>
            <td><%= review.created_at %></td>
            <td><%= link_to "ページ詳細", public_review_path(review), class: "btn btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
    <div class= "text-center mt-4">
      <%= paginate @reviews %>
    </div>
  </div>
</div>