<div class="container">
     <%= render 'search', searches: @searches %>
     <!--ジャンル検索-->
     <%= render 'genrevar', genres: @genres %>

    <div class="col-10">
      <!--一覧部分-->
      <h4 style="margin: 0;">病院一覧(全<%= @count %>件)</h4>
      <div class="row">
        <% @hospitals.each do |hospital| %>
          <% if hospital.is_active == true %>
            <div class="col-md-4 shadow p-6 mb-3">
                <div>
                  診療科目：<%= hospital.subject %>
                </div>
                <div>
                  住所：<%= hospital.address %>
                </div>
                <div id="hospital_total_review_<%= hospital.id %>"></div>
              <%= link_to public_hospital_path(hospital) do %>
                <%= image_tag hospital.image, size:"100x100"  %>
                <%= hospital.name %>
              <% end %>
            </div>
            <script>
              var elem = document.getElementById('hospital_total_review_<%= hospital.id %>');
              var opt = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= hospital.reviews.published.average(:total_point).nil? ? 0 : hospital.reviews.published.average(:total_point).round(1) %>
              };
              raty(elem,opt);
            </script>
          <% end %>
        <% end %>
        <%= paginate @hospitals %>
      </div>
    </div>
  </div>