
     <%= render 'search', searches: @searches %>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-2">
     <!--ジャンル検索-->
     <%= render 'genrevar', genres: @genres %>
    </div>
    <div class="col-10">
      <!--一覧部分-->
      <h4 style="margin: 0;">病院一覧(全<%= @count %>件)</h4>
      <div class="text-center row">
        <% @hospitals.each do |hospital| %>
          <% if hospital.is_active == true %>
            <div class="col-md-3 shadow p-3 mb-4 m-4">
              <%= link_to public_hospital_path(hospital) do %>
                <%= image_tag hospital.image, size:"100x100"  %>
                <%= hospital.name %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
