<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <!--ジャンル検索-->
      <%= render 'genrevar', genres: @genres %>
    </div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <h4>病院詳細</h4>
       <table class="table table-borderless">
        <tbody>
         <tr>
            <td>病院画像</td>
            <td><%= image_tag @hospital.image, class:"img-fluid d-block mx-auto" %></td>
         </tr>
         <tr>
            <td>郵便番号</td>
            <td><%= @hospital.postal_code %></td>
          </tr>
          <tr>
            <td>病院名</td>
            <td><%= @hospital.name %></td>
          </tr>
          <tr>
            <td>病院名（カナ）</td>
            <td><%= @hospital.hospital_name_kana %></td>
          </tr>
          <tr>
            <td>医師名</td>
            <td>
　　　　　　  <% @hospital.doctors.each do |doctor| %>
                <%= doctor.name %>
                <% if current_customer.following?(doctor) %>
                  <%= link_to "フォロー外す", public_follows_path(doctor_id: doctor.id), method: :delete %>
                <% else %>
                  <%= link_to "フォローする", public_follows_path(doctor_id: doctor.id), method: :post %>
                <% end %>
              <% end %>
            </td>
          </tr>


            </td>
          </tr>
          <tr>
            <td>病院説明</td>
            <td><%= @hospital.introduction %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @hospital.telephone_number %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @hospital.genre.name %></td>
          </tr>
          <tr>
            <td>診療科目</td>
            <td><%= @hospital.subject %> </td>
          </tr>
          <tr>
            <td>診療時間</td>
            <td><%= @hospital.hospital_time %> </td>
          </tr>
          <tr>
            <td>駐車場</td>
            <td><%= @hospital.parking %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @hospital.is_active == true %>
                対応中
              <% else %>
                対応停止中
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>


<%= link_to "レビューを書く", new_public_hospital_review_path(@hospital), class: "btn btn-success", data: {"turbolinks" => false} %>