<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>医療提供者情報編集</h2>
      <%= form_with model: @hospital_doctor, url: doctor_hospital_update_path, method: :PATCH do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :"氏名" %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td><%= f.label :"所属院名" %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td>
                  <% if @hospital_doctor.is_deleted == false %>
                  <%= f.radio_button :is_deleted, false, checked:true, class:"text-success" %>有効　<%= f.radio_button :is_deleted, true %>退会
                  <% else %>
                  <%= f.radio_button :is_deleted, false, class: "text-success" %>有効　<%= f.radio_button :is_deleted, true, checked:true %>退会
                  <% end %>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit :"編集内容を保存",class:"btn btn-success"%></td>
              <td><%= link_to "退会する", doctor_hospital_unsubscribe_path(@hospital_doctor), class:"btn btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>