<% if current_doctor.approved? %>
<div class="container">
 <div class ="row">
  <div class = "col-10">

<h2>医療提供者マイページ</h2>
<p class="font-weight-bold h5"> 登録情報 <%= link_to "編集する", edit_doctor_hospital_doctor_path, class:"btn btn-success" %></p>
<table class="table table-bordered">
 <tbody>
  <tr></tr>
   <tr>
    <td class="table-secondary">氏名</td>
    <td><%= @hospital_doctor.name %></td>
   </tr>
   <tr>
    <td class="table-secondary">メールアドレス</td>
    <td><%= @hospital_doctor.email %></td>
   </tr>
   <tr>
    <td class="table-secondary">所属院名</td>
    <td><%= @hospital_doctor.name %></td>
   </tr>
   <tr>
     <td class="table-secondary">会員ステータス</td>
     <th>
     <% @hospital_doctor.approved_status %>
    <% if @hospital_doctor.approved_status == false %><p class= "text-success" >承認済</p>
    <% elsif @hospital_doctor.approved_status == true %>承認却下
    <% end %>
     </th>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>

<%= link_to 'レビュー一覧', public_reviews_path, class: "btn btn-success" %>
<%= link_to 'フォロワー一覧', root_path, class: "btn btn-success" %>
<%= link_to '予約一覧', doctor_reservations_path, class: "btn btn-success" %>

  <% else %>
  申請の承認をお待ちください。
  <% end %>