<header>
  <div class="header">
    <nav class="navbar navbar-light mb-2">
      <div class="container">
        <div class="text-left">
          <%= link_to root_path, data: {"turbolinks" => false} do %>
            <%= image_tag asset_path('cest-facile.jpeg'),size: '80x80' %>
          <% end %>
        </div>
    <!-- 顧客サインイン後-->
      <% if customer_signed_in? %>
        <div class="text-center">
          ようこそ！<br><%= current_customer.last_name %> <%= current_customer.first_name %>さん
        </div>
        <!-- ハンバーガメニュー実装 21行目まで!-->
          <%= link_to '#', class: 'nav-link', 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do %>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <% end %>
           <ul class="dropdown-menu dropdown-menu-right p-3">
             <li class="fa-solid fa-users-rectangle mr-2">
               <%= link_to "About", about_path %>
             </li>
             <li class="fa-solid fa-users mr-2">
               <%= link_to "マイページ", customers_mypage_path %>
             </li>
             <li class="fa-solid fa-hospital mr-2">
               <%= link_to "病院一覧(レビュー/予約はこちら)", public_hospitals_path %>
             </li>
             <li class="fa-solid fa-magnifying-glass mr-2">
               <%= link_to "病院検索", public_symptoms_path %>
             </li>
             <li class="fa-solid fa-flag mr-2">
               <%= link_to "予約一覧", public_reservations_path %>
             </li>
             <li class="fa-solid fa-file mr-2">
               <%= link_to "個人レビュー", public_reviews_path %>
             </li>
             <li class="fa-solid fa-users mr-2">
               <%= link_to "フォロー一覧", public_followings_path %>
             </li>
             <li class="fa-solid fa-envelope mr-2">
               <%= link_to "お問い合せフォーム","https://docs.google.com/forms/d/e/1FAIpQLSff6WJbio8LAWkRv9Nn89wn1h4zSfwvpJtE3x4ji81pKy7oMg/viewform?pli=1" %>
             </li>
             <li class="fa-solid fa-right-from-bracket mr-2">
               <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
             </li>
           </ul>
    <!--管理者がログインした場合-->
      <% elsif admin_signed_in? %>
      <!-- ハンバーガメニュー実装 55行目まで!-->
        <%= link_to '#', class: 'nav-link', 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do %>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <% end %>
          <ul class="dropdown-menu dropdown-menu-right p-3">
            <li class="fa-solid fa-hospital mr-2">
              <%= link_to "病院一覧", admin_hospitals_path %>
            </li>
            <li class="fa-solid fa-person mr-2">
              <%= link_to "会員一覧", admin_customers_path %>
            </li>
            <li class="fa-solid fa-users mr-2">
              <%= link_to "ジャンル一覧", admin_genres_path %>
            </li>
            <li class="fa-solid fa-book mr-2">
              <%= link_to "予約一覧", admin_reservations_path %>
            </li>
            <li class="fa-solid fa-pen-fancy mr-2">
              <%= link_to "レビュー管理一覧", admin_reviews_path %>
            </li>
            <li class="fa-solid fa-users mr-2">
              <%= link_to "医療提供者申請一覧", admin_doctors_path %>
            </li>
            <li class="fa-solid fa-right-from-bracket mr-2">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          </ul>
        <!--医療提供者がログインした場合-->
          <% elsif doctor_signed_in? %>
            <!-- ハンバーガメニュー実装 86行目まで!-->
            <%= link_to '#', class: 'nav-link', 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do %>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right p-3">
            <li class="fa-sharp fa-solid fa-building mr-2">
              <%= link_to "About", about_path %>
            </li>
            <li class="fa-solid fa-envelope mr-2">
             <%= link_to "通知確認画面", doctor_notifications_path %>
            </li>
            <li class="fa-solid fa-users mr-2">
              <%= link_to "予約確認画面", doctor_reservations_path %>
            </li>
            <li class="fa-solid fa-file mr-2">
              <%= link_to "コメント確認画面", doctor_reviews_path %>
            </li>
            <li class="fa-solid fa-user mr-2">
              <%= link_to "医療提供者マイページ", doctor_hospital_doctor_path(current_doctor) %>
            </li>
            <li class="fa-solid fa-users mr-2">
              <%= link_to "フォロワー一覧", doctor_followers_path %>
            </li>
            <li class="fa-solid fa-envelope mr-2">
              <%= link_to "お問い合せフォーム","https://docs.google.com/forms/d/e/1FAIpQLSff6WJbio8LAWkRv9Nn89wn1h4zSfwvpJtE3x4ji81pKy7oMg/viewform?pli=1" %>
            </li>
            <li class="fa-solid fa-right-from-bracket mr-2">
              <%= link_to "医療提供者ログアウト", destroy_doctor_session_path, method: :delete %>
            </li>
          </ul>
      <!--サインインしていない場合-->
          <% else %>
          <!--ハンバーガーメニュー実装117行目まで !-->
            <%= link_to '#', class: 'nav-link', 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do %>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right p-3">
            <li class="fa-solid fa-users-rectangle mr-2">
              <%= link_to "About", about_path %>
            </li>
            <li class="fa-solid fa-hospital mr-2">
              <%= link_to "病院一覧", public_hospitals_path %>
           </li>
            <li class="fa-solid fa-user-plus mr-2">
              <%= link_to "会員新規登録", new_customer_registration_path %>
            </li>
            <li class="fa-solid fa-solid fa-arrow-right-to-bracket mr-2">
              <%= link_to "会員様ログイン", customer_session_path %>
            </li>
            <li class="fa-solid fa-lock mr-2">
              <%= link_to "管理者ログイン", admin_session_path %>
            </li>
            <li class="fa-solid fa-hospital-user mr-2">
              <%= link_to "医療者ログイン", doctor_session_path %>
            </li>
            <li class="fa-solid fa-envelope mr-2">
              <%= link_to "お問い合せフォーム","https://docs.google.com/forms/d/e/1FAIpQLSff6WJbio8LAWkRv9Nn89wn1h4zSfwvpJtE3x4ji81pKy7oMg/viewform?pli=1" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
  </div>
</header>