<!DOCTYPE html>
<html>
  <head>
    <!--Javascript トップへ戻るの実装-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <p class="pagetop"><a href="#wrap">▲</a></p>
    
    <title>Cest facile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Javascriptトップへ戻るの実装-->
    <script>
     $(document).ready(function() {
       var pagetop = $('.pagetop');
         $(window).scroll(function () {
           if ($(this).scrollTop() > 10) {
             pagetop.fadeIn();
           } else {
             pagetop.fadeOut();
         }
       });
       pagetop.click(function () {
           $('body, html').animate({ scrollTop: 0 }, 50);
              return false;
   });
});
</script>
    
 </head>

<!-- ヘッダーの呼び出し-->
  <body>
    <%= render "layouts/header" %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
<!--フッター呼び出し-->
   <%= render "layouts/footer" %>
</html>
